.program-box {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    border-radius: 20px;
    vertical-align: text-top;
    width: 400px;
    height: 400px;
}

.background-orange {
    background-color: orange;
}